@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Raleway:wght@200;400;500;800&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body {
    background-color: #636c79;
    font-family: 'Raleway';
    overflow-x: hidden;
}

header {
    background-color: #636c79;
    color: #ffffff;
}

section.main {
    background-color: #636c79;
    color: #ffffff;
}

nav {
    width: 100%;
    display: flex;
    padding: 1.25em 2.5em;
    align-items: center;
    margin-bottom: 8em;
}

nav>img {
    margin-top: 1.25em;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

nav ul {
    margin-left: auto;
    margin-right: 10%;
}

nav button {
    margin-right: 0px;
    background-color: transparent;
    width: 160px;
    height: 50px;
    font-size: 1rem;
    color: #ffffff;
    border: 1px solid #ffffff;
}

ul.nav-list {
    display: flex;
    gap: 50px;
    font-size: 20px;
    list-style-type: none;
    font-weight: 500;
}

section.main {
    display: flex;
    margin: 0 8em;
    gap: 10em;
    padding-bottom: 10em;
}

section.main img {
    
    width: 90%;
    margin-left: 8em;
}

div.right {
    display: flex;
    flex-direction: column;
    margin-top: 8em;
}

div.right>h2 {
    white-space: pre-line;
    font-size: 3.75rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

div.right>p {
    white-space: pre-line;
    margin-bottom: 1em;
    color: #c4c8cc;
    line-height: 2;
    font-size: 1.25rem;
}

div.email {
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding: 0.25em 0.8em;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    height: 60px;
}

div.email>span {
    color: #aeafb0;
}

div.email>i {
    font-size: 1rem;
}

div.email>button {
    margin-left: auto;
    height: 100%;
    width: 200px;
    background-color: #8bb7a2;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #ffffff;
}

section.stats {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

section.stats>h2 {
    margin-top: 2.5em;
    align-self: center;
    white-space: pre-line;
    text-align: center;
    font-size: 2.5rem;
}

div.data {
    display: flex;
    justify-content: space-around;
}

div.stat {
    margin-top: 3em;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin-bottom: 3em;
}

span.header {
    font-size: 2.25rem;
    font-weight: 500;
}

span.answer {
    color: #ababab;
    font-weight: 700;
    font-size: 1.25rem;
}

section.stats img {
    align-self: center;
    width: 90%;
}

section.description {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.description>h2 {
    margin-top: 2em;
    font-size: 3rem;
    white-space: pre-line;
    text-align: center;
}

div.feature {
    display: flex;
    margin-top: 8em;
    gap: 8em;
    padding-bottom: 8em;
}

div.left-section,
div.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.left-section>h3,
div.right-section>h3 {
    white-space: pre-line;
    font-size: 2.5rem;
    line-height: 1.2;
}

div.left-section p,
div.right-section p {
    white-space: pre-line;
    color: #8d8e90;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 50px;
}

div.left-section img,
div.right-section img {
    width: 100%;
}

button.feature-btn {
    width: 180px;
    height: 60px;
    background-color: #8bb7a2;
    color: #ffffff;
    font-size: 1.25rem;
    outline: none;
    border: none;
}

div.header {
    display: flex;
    margin: 0 8em;
    align-items: center;
    gap: 30%;
}

section.team-desc {
    background-color: #ffffff;
    white-space: pre-line;

}

p.mission {
    white-space: pre-line;
    color: #6a6c6e;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 500;
}

div.header>h2 {
    font-size: 2.5rem;
    margin-bottom: 1.25em;
}

div.images {
    display: flex;
    padding: 0 8em;
    gap: 80px;
}

div.team-member {
    display: flex;
    flex-direction: column;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 3.7em;
    right: 1em;
    height: 20px;
    width: 30px;
    cursor: pointer;
}

span.bar {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: background-color 300ms ease-in-out;
}

div.team-member span {
    margin-top: 1.5em;
    font-size: 1.4rem;
    font-weight: 800;
}

div.team-member p {
    margin-top: 0.625em;
    color: #838486;
    font-weight: 500;
}

button.bottom-btn {
    display: block;
    margin: 2.5rem auto;
    width: 180px;
    height: 60px;
    background-color: #8bb7a2;
    color: #ffffff;
    font-size: 1.25rem;
    outline: none;
    border: none;
}

footer {
    padding: 3em 6.25em;
    display: flex;
    flex-direction: column;
    background-color: #10181d;
    color: #ffffff;
}

div.footer-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.75em;
    position: relative;
}
div.team-member img{
    width: 100%;
}
 div.footer-head::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #242c31;
    bottom: -36px;
    right: 0px;
} 
div.icons{
    display: flex;
    gap: 1em;
}
footer ul {
    list-style-type: none;
}
div.footer-header img{
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}
div.footer-lists {
    display: flex;
    justify-content: space-between;
}
ul.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

ul.footer-list>li{
    color: #979a9d;
}
ul.footer-list>li.list-header{
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
}


@media(max-width:500px)
{
    html{
        font-size: 10px;
    }

    section.main{
        flex-direction: column;
        align-items: center;
        margin: 0 6em;
        gap: 2em;
        padding-bottom: 10em;
    }

    div.left{
        padding-left: 2em;
    }

    section.main img{
        margin-left: 0;
    }

    div.email {
        display: flex;
        align-items: center;
        gap: 0.8em;
        padding: 0.25em 0.8em;
        background-color: #fff;
        color: #000;
        font-size: 1.5rem;
        height: 45px;
    }

    div.hamburger{
        display: flex;
    }
    div.email>button{
        width: 88px;
        font-size: 1.25rem;
        height: 100%;
    }

    ul.nav-list{
        display: none;
    }

    nav button{
        display: none;
    }

    div.feature{
        margin-top: 2em;
        flex-direction: column-reverse;
        margin: 0 auto;
        width: 80%;
    }

    section.description{
        gap: 10em;
    }
    div.feature img{
        width: 100%;
    }

    div.feature:nth-child(3)
    {
       flex-direction: column;
    }

    div.feature p.info{
        margin-top: 1em;
        white-space: normal;
        font-size: 1.5rem;
    }
    div.feature button{
        margin: 0 auto;
        font-size: 2rem;
    }

    div.header{
        flex-direction: column;
        margin-bottom: 2em;
    }

    div.images{
        flex-direction: column;
    }

    button.bottom-btn{
        font-size: 2rem;
    }

    footer{
        padding: 2em;
    }
    div.footer-head{
        gap: 5em;
        flex-wrap: wrap;
    }

    div.footer-lists{
        flex-wrap: wrap;
        gap: 7em;
    }

    div.left-section>h3, div.right-section>h3 {
        white-space: normal;
        font-size: 2.5rem;
        line-height: 1.2;
    }
    ul.footer-list{
        flex-basis: 30%;
    }
    }